#video-reproductor{
  text-align: center;
   margin: auto;
}
#nuevo-comentario{
  border: none;
  margin: auto;

}
.pb-cmnt-textarea {
  resize: none;
  height: 20%;
  width: 100%;
  border: 1px solid #F2F2F2;
}
